<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:fragment="main-Gragment (title, otherStaticResources, header, nav, mainContent, footer)">
    <link rel="shortcut icon" href="/images/t.png">


<head th:fragment="head_fragging">
    <meta charset="UTF-8">
    <title>Layout Generic for sudoku pages</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="pencil.css">
    <link rel="stylesheet" href="completion.css">

</head>
<body>

<div class="main-page">
    <div class="navigation-bar" th:fragment="navigation-default">This is where the navigation bar goes</div>
    <div class="sudoku-board" th:fragment="sudoku-board-default">

        <div class="board-navigation-bar">

            <div class = "navigation-division-upper" th:text = "${date}"></div>
            <div class = "navigation-division-lower">
                <div id = "counter-clock">00:00</div>
                <div id = "button-div">
                <button id="solve-button" class = "button-4">Show solution</button>
                <button id="clear-button" class=  "button-4">Reset</button>
                <label class="switch">
                    <input type="checkbox" class="toggle-pencil">
                    <span class="slider round"></span>
                </label>
                </div>
            </div>


        </div>

        <div class="board-game">
            <table id="actual-board">
                <tr>
                    <th id="row-1"></th>
                    <th id="row-2"></th>
                    <th id="row-3"></th>
                    <th id="row-4"></th>
                    <th id="row-5"></th>
                    <th id="row-6"></th>
                    <th id="row-7"></th>
                    <th id="row-8"></th>
                    <th id="row-9"></th>
                </tr>
                <tr class="sudoku-row">
                    <td id="sudoku-cell-0" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-1" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-2" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-3" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-4" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-5" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-6" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-7" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-8" class="sudoku-cell-single"></td>
                </tr>
                <tr class="sudoku-row">
                    <td id="sudoku-cell-9" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-10" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-11" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-12" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-13" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-14" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-15" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-16" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-17" class="sudoku-cell-single"></td>
                </tr>
                <tr class="sudoku-row">
                    <td id="sudoku-cell-18" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-19" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-20" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-21" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-22" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-23" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-24" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-25" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-26" class="sudoku-cell-single"></td>
                </tr>
                <tr class="sudoku-row">
                    <td id="sudoku-cell-27" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-28" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-29" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-30" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-31" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-32" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-33" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-34" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-35" class="sudoku-cell-single"></td>
                </tr>
                <tr class="sudoku-row">
                    <td id="sudoku-cell-36" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-37" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-38" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-39" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-40" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-41" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-42" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-43" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-44" class="sudoku-cell-single"></td>
                </tr>
                <tr class="sudoku-row">
                    <td id="sudoku-cell-45" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-46" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-47" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-48" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-49" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-50" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-51" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-52" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-53" class="sudoku-cell-single"></td>
                </tr>
                <tr class="sudoku-row">
                    <td id="sudoku-cell-54" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-55" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-56" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-57" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-58" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-59" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-60" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-61" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-62" class="sudoku-cell-single"></td>
                </tr>
                <tr class="sudoku-row">
                    <td id="sudoku-cell-63" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-64" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-65" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-66" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-67" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-68" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-69" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-70" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-71" class="sudoku-cell-single"></td>
                </tr>
                <tr class="sudoku-row">
                    <td id="sudoku-cell-72" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-73" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-74" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-75" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-76" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-77" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-78" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-79" class="sudoku-cell-single"></td>
                    <td id="sudoku-cell-80" class="sudoku-cell-single"></td>
                </tr>
            </table>
            <div class="completion-parent">
                <div class="completion-child">
                    <div class="confetti-seperator">
                        <div class="congratulations-text-container">
                            <h3 class="congratulations-text">Congratulations!</h3>
                        </div>
                        <div class = "completion-button-container">
                            <button id="redirect-home-completed" class = "completed-redirect-button">Home</button>
                            <button id="redirect-random-completed" class = "completed-redirect-button">Random</button>
                        </div>
                    </div>
                    <canvas class="confetti" id="canvas"></canvas>
                </div>
            </div>
        </div>

    </div>

<div class="footer" th:fragment="footer-default">This is where the footer goes.</div>
</div>

<div class="test_include" th:fragment="include_testing"> This is a test to see if this is included or if it overrides
    the current div.
</div>
</body>
</html>