<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:fragment="main-Gragment (title, otherStaticResources, header, nav, mainContent, footer)">


<head th:fragment="head_fragging">
    <meta charset="UTF-8">
<!--    <title th:include="::#pageTitle">Layout Generic</title>-->
    <title>Layout Generic for sudoku pages</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>


<div class="main-page">
    <div class="navigation-bar" th:fragment="navigation-default">This is where the navigation bar goes</div>
    <div class="sudoku-board" th:fragment="sudoku-board-default">
<!--        <div id = "puzzle-date" th:text = "${date}"></div>-->

        <div class="board-navigation-bar">

            <div class = "navigation-division-upper" th:text = "${date}"></div>
            <div class = "navigation-division-lower">
                <div id = "counter-clock">00:00</div>
                <div id = "button-div">
                <button id="solve-button" class = "button-4">Show solution</button>
                <button id="clear-button" class=  "button-4">Reset</button>
                </div>
            </div>

<!--            <div id = "display-date" th:text = "${date}"></div>-->
<!--            <div id = "counter-clock">-->
<!--                00:00-->
<!--            </div>-->
        </div>
        <div class="board-game">

            <table id="actual-board">
                <tr>
                    <th id="row-1"></th>
                    <th id="row-2"></th>
                    <th id="row-3"></th>
                    <th id="row-4"></th>
                    <th id="row-5"></th>
                    <th id="row-6"></th>
                    <th id="row-7"></th>
                    <th id="row-8"></th>
                    <th id="row-9"></th>
                </tr>

                <tr class="sudoku-row">
                    <td id='sudoku-cell-0'></td>
                    <td id='sudoku-cell-1'></td>
                    <td id='sudoku-cell-2'></td>
                    <td id='sudoku-cell-3'></td>
                    <td id='sudoku-cell-4'></td>
                    <td id='sudoku-cell-5'></td>
                    <td id='sudoku-cell-6'></td>
                    <td id='sudoku-cell-7'></td>
                    <td id='sudoku-cell-8'></td>
                </tr>
                <tr class="sudoku-row">
                    <td id='sudoku-cell-9'></td>
                    <td id='sudoku-cell-10'></td>
                    <td id='sudoku-cell-11'></td>
                    <td id='sudoku-cell-12'></td>
                    <td id='sudoku-cell-13'></td>
                    <td id='sudoku-cell-14'></td>
                    <td id='sudoku-cell-15'></td>
                    <td id='sudoku-cell-16'></td>
                    <td id='sudoku-cell-17'></td>
                </tr>
                <tr class="sudoku-row">
                    <td id='sudoku-cell-18'></td>
                    <td id='sudoku-cell-19'></td>
                    <td id='sudoku-cell-20'></td>
                    <td id='sudoku-cell-21'></td>
                    <td id='sudoku-cell-22'></td>
                    <td id='sudoku-cell-23'></td>
                    <td id='sudoku-cell-24'></td>
                    <td id='sudoku-cell-25'></td>
                    <td id='sudoku-cell-26'></td>
                </tr>
                <tr class="sudoku-row">
                    <td id='sudoku-cell-27'></td>
                    <td id='sudoku-cell-28'></td>
                    <td id='sudoku-cell-29'></td>
                    <td id='sudoku-cell-30'></td>
                    <td id='sudoku-cell-31'></td>
                    <td id='sudoku-cell-32'></td>
                    <td id='sudoku-cell-33'></td>
                    <td id='sudoku-cell-34'></td>
                    <td id='sudoku-cell-35'></td>
                </tr>


                <tr class="sudoku-row">
                    <td id='sudoku-cell-36'></td>
                    <td id='sudoku-cell-37'></td>
                    <td id='sudoku-cell-38'></td>
                    <td id='sudoku-cell-39'></td>
                    <td id='sudoku-cell-40'></td>
                    <td id='sudoku-cell-41'></td>
                    <td id='sudoku-cell-42'></td>
                    <td id='sudoku-cell-43'></td>
                    <td id='sudoku-cell-44'></td>
                </tr>
                <tr class="sudoku-row">
                    <td id='sudoku-cell-45'></td>
                    <td id='sudoku-cell-46'></td>
                    <td id='sudoku-cell-47'></td>
                    <td id='sudoku-cell-48'></td>
                    <td id='sudoku-cell-49'></td>
                    <td id='sudoku-cell-50'></td>
                    <td id='sudoku-cell-51'></td>
                    <td id='sudoku-cell-52'></td>
                    <td id='sudoku-cell-53'></td>
                </tr>
                <tr class="sudoku-row">
                    <td id='sudoku-cell-54'></td>
                    <td id='sudoku-cell-55'></td>
                    <td id='sudoku-cell-56'></td>
                    <td id='sudoku-cell-57'></td>
                    <td id='sudoku-cell-58'></td>
                    <td id='sudoku-cell-59'></td>
                    <td id='sudoku-cell-60'></td>
                    <td id='sudoku-cell-61'></td>
                    <td id='sudoku-cell-62'></td>
                </tr>
                <tr class="sudoku-row">
                    <td id='sudoku-cell-63'></td>
                    <td id='sudoku-cell-64'></td>
                    <td id='sudoku-cell-65'></td>
                    <td id='sudoku-cell-66'></td>
                    <td id='sudoku-cell-67'></td>
                    <td id='sudoku-cell-68'></td>
                    <td id='sudoku-cell-69'></td>
                    <td id='sudoku-cell-70'></td>
                    <td id='sudoku-cell-71'></td>
                </tr>
                <tr class="sudoku-row">
                    <td id='sudoku-cell-72'></td>
                    <td id='sudoku-cell-73'></td>
                    <td id='sudoku-cell-74'></td>
                    <td id='sudoku-cell-75'></td>
                    <td id='sudoku-cell-76'></td>
                    <td id='sudoku-cell-77'></td>
                    <td id='sudoku-cell-78'></td>
                    <td id='sudoku-cell-79'></td>
                    <td id='sudoku-cell-80'></td>
                </tr>
            </table>
        </div>

    </div>

<div class="footer" th:fragment="footer-default">This is where the footer goes.</div>
</div>

<div class="test_include" th:fragment="include_testing"> This is a test to see if this is included or if it overrides
    the current div.
</div>
</body>
</html>