body{
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-page{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
.navigation-bar{
    background-color:black;
    display:flex;
    color: white;
    padding: 7px;
    height: 3vh;
    justify-content: space-between;
    align-items: center;

}
.main-content{
    display: flex;
    padding: 20px 0 20px 0;
    align-items: center;
}
.sudoku-link{
    border: solid black 1px;
    min-height: 55px;
    width: 45%;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
a, a:visited{
    text-decoration: none;
    color:black;
}

.left-partition{
    padding-left: 10px;
}
.left-partition a{
    color: white;
}

.middle-partition div a{
    font-size: 27px;
    color: white;
}


.right-partition{
    display:flex;
    gap: 20px;
    padding-right: 10px;
}
.right-partition div a{
    color: white;
}
.sudoku-board{
    display:flex;
    flex:1;
    flex-direction: column;
    height:auto;
    min-height: 88vh;
}
.main-content{
    flex-direction: column;
    flex:1;
}

.board-navigation-bar{
    height: 15vh;
    border: solid black;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#counter-clock{
    font-size: 40px;
    font-family: Verdana, Serif, sans-serif;
    height: 40%;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#button-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;

}
.navigation-division-upper{
    height:30%;
    font-family: Verdana, serif, sans-serif;
    font-size: 28px;
    display:flex;
    padding-left: 30px;
    align-items: center;
    border-bottom: solid black;
}

.navigation-division-lower{
    height:70%;
}



.board-game{
    flex: 1;
    display:flex;
    justify-content: center;
    text-align: center; 
}
.board-game{
    padding: 10px;
}

#actual-board{
    height: 70vh;
    width: 70vh;
}

table{
    border-collapse: collapse;
}

 table tr td{
    border: solid black;
 }


td{
    width: 11%;
    height: 11%;
    font-size: 2em;

}

input{
    outline: none;
    border: none;
    width: 96%;
    height: 96%;
    font-size: 1em;

    text-align: center;
}

/*  These 2 removes thhe arrow keys input's type = "number" attribute: */
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

td:nth-child(3),
td:nth-child(6){
   /*border: solid black;*/
    border-right: solid black .50vh;
}
tr:nth-child(4),
tr:nth-child(7){
    border-bottom: solid black 0.5vh;
} 
.footer{
    display:flex;
    background-color: black;
    color: white;
    padding:7px;
    height:3vh;
    justify-content: center;
    align-items: center;
}

.completion-parent{
    position: absolute;
    width: 70vh;
    height: 70vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.completion-child{
    width: 70%;
    height: 70%;
    /*border: solid 2px brown;*/
    background-color: grey;
    opacity: 0.9;
}






#solve-button,
#clear-button,
.home-button{
     appearance: none;
     background-color: #FAFBFC;
     border: 1px solid rgba(27, 31, 35, 0.15);
     border-radius: 6px;
     box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
     box-sizing: border-box;
     color: #24292E;
     cursor: pointer;
     display: inline-block;
     font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
     font-size: 14px;
     font-weight: 500;
     line-height: 20px;
     list-style: none;
     padding: 6px 16px;
     position: relative;
     transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
     vertical-align: middle;
     white-space: nowrap;
     word-wrap: break-word;
 }

#solve-button:hover ,
#clear-button:hover,
.home-button:hover{
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}

#solve-button:disabled,
#clear-button:disabled,
.home-button:disabled{
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

#solve-button:active,
#clear-button:active,
.home-button:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

#solve-button:focus,
#clear-button:focus,
.home-button:focus
{
    outline: 1px transparent;
}

#solve-button:before,
#clear-button:before,
.home-button:before
{
    display: none;
}

#solve-button::-webkit-details-marker,
#clear-button::-webkit-details-marker,
.home-button::-webkit-details-marker{
    display: none;
}


