<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:replace="~{layouts/layout :: styling}">
    <link rel="shortcut icon" href="/images/t.png">
    <title>Sudoku Assembly</title>
</head>
<body>

<div class="main-page">
    <div th:replace="~{layouts/layout :: navigation-default}"></div>
    <div th:replace="~{layouts/layout-sudoku :: sudoku-board-default}"></div>
    <div th:replace="~{layouts/layout :: footer-default}"></div>

</div>
</body>
<script th:inline="javascript">
    let sudokuId = [[${sudokuId}]];
    let puzzle = [[${puzzle}]];
    let solution = [[${solution}]];
    let timeSpent = [[${timeSpent}]]
    let firstName = [[${firstName}]];
    let streaks = [[${streaks}]]
</script>
<script type="text/javascript" th:inline="javascript" th:src="@{/pencil.js}" ></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/index.js}" ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/completion.js}" ></script>
</html>