<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sudoku Assembly</title>
    <link th:replace="~{layouts/layout :: styling}">
    <link rel="shortcut icon" href="/images/t.png">
</head>
<body>
<div class="main-page">
    <div th:replace="~{layouts/layout :: navigation-default}"></div>

    <div class="main-content">
        <div class = "sudoku-list"></div>
        <div class = "personal-statistics"></div>
    </div>
    <div class="testing-main-content"/>
    <div th:replace="~{layouts/layout :: footer-default}"></div>
</div>
</body>
<script th:inline="javascript">
    let allSuokus = [[${allSudoku}]];
    let firstName = [[${firstName}]];
    let streaks = [[${streaks}]]
</script>
<script type="text/javascript" th:inline="javascript" th:src="@{/home.js}"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/infiniteScroll.js}"></script>
</html>