<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:replace="~{layouts/layout :: styling}">
</head>
<body>
<div class="main-page">
    <div th:replace="~{layouts/layout :: navigation-default}"></div>

    <div class="main-content">

        <div class="sudoku-link" th:each="Sudoku: ${allSudoku}">
            <a th:text="${Sudoku.getDate()} + '  ' + ${Sudoku.getLevel()}"
               th:href="'/sudoku/' + ${Sudoku.getDate()} + '-' + ${Sudoku.getLevel()}"></a>
        </div>
    </div>
    <div th:replace="~{layouts/layout :: footer-default}"></div>
</div>
</body>
</html>