<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
    <title>my login page</title>
    <link th:fragment="styling" rel="stylesheet" href="/login.css?version=53">

</head>
<body>

    <main id="main-holder">
        <h1 id="login-header">Login</h1>

        <div id="login-error-msg-holder">
            <p id="login-error-msg">Invalid username <span id="error-msg-second-line">and/or password</span></p>
        </div>

        <form id="login-form" th:action="@{/loginhandle}" method = "post">
            <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
            <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
            <input type="submit" value="Login" id="login-form-submit">
        </form>

    </main>
</body>
</html>