<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:replace="~{layouts/layout :: styling}">
</head>
<body>

<div class="main-page">
    <div th:replace="~{layouts/layout :: navigation-default}"></div>
    <div th:replace="~{layouts/layout-sudoku :: sudoku-board-default}"></div>
    <div th:replace="~{layouts/layout :: footer-default}"></div>

</div>
</body>
<script th:inline="javascript">
    // console.log([[${test_passing}]]["puzzle"]);
    let sudokuId = [[${sudokuId}]];
    let puzzle = [[${puzzle}]];
    let solution = [[${solution}]];
</script>

<script type="text/javascript" th:inline="javascript" th:src="@{/index.js}"></script>
</html>