<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/layout :: head_fragging">
    <title id = "pageTitle">Page's title</title>
</head>
<body>
    <div class = "main-page">
    <div th:replace = "~{layouts/layout-sudoku :: navigation-default}" ></div>

    <div th:insert = "~{layouts/layout-sudoku :: sudoku-board-default}"></div>

    <div th:replace = "~{layouts/layout-sudoku :: footer-default}"></div>
    </div>
</body>
<!--<script type="text/javascript" th:src="@{../static/index.js}"></script>-->

<script type="text/javascript" th:inline="javascript" th:src="@{index.js}"></script>
</html>