<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--&lt;!&ndash;<head th:replace="layouts/layout :: head_fragging">&ndash;&gt;-->
<!--&lt;!&ndash;    <title id = "pageTitle">Page's title</title>&ndash;&gt;-->
<!--&lt;!&ndash;</head>&ndash;&gt;-->
<!--&lt;!&ndash;<head th:replace="~{layouts/layout-sudoku :: head_fragging}"></head>&ndash;&gt;-->
<!--<head>-->
<!--    <link th:replace="~{layouts/layout :: styling}">-->
<!--</head>-->
<!--<body>-->

<!--<div class="main-page">-->
<!--    <div th:replace="~{layouts/layout-sudoku :: navigation-default}"></div>-->
<!--    <div th:replace="~{layouts/layout-sudoku :: sudoku-board-default}"></div>-->

<!--    <div th:replace="~{layouts/layout-sudoku :: footer-default}"></div>-->
<!--</div>-->
<!--</body>-->
<!--<script th:inline="javascript">-->
<!--    // console.log([[${test_passing}]]["puzzle"]);-->
<!--    // let puzzle = [[${puzzle}]];-->
<!--    // let solution  = [[${solution}]];-->

<!--</script>-->

<!--<script type="text/babel" th:inline="javascript" th:src="@{index.js}"></script>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:replace="~{layouts/layout :: styling}">
</head>
<body>
<div class = "main-page">
    <div th:replace="~{layouts/layout :: navigation-default}"></div>

<!--    <div class = "main-content">-->
<!--        <ul th:each = "sudoku: ${allSudoku}">-->
<!--            <li th:text = "${sudoku.getId()}"></li>-->
<!--            <li th:text ="${sudoku.getDate()}"></li>-->
<!--            <li th:text = "${sudoku.getLevel()}"></li>-->
<!--        </ul>-->
<!--    </div>-->

    <div th:replace="~{layouts/layout :: footer-default}"></div>
</div>
</body>
</html>