<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sudoku Assembly</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
<div class="main-page">
    <div class="navigation-bar">This is where the navigation bar goes</div>
    <div class="sudoku-board">This is where the game's UI goes: (like easy medium and stuff)
        <div class="board-navigation-bar"> This is the board's navigation bar</div>
        <div class="board-game">
            <div class="sudoku-grid">
                <div class="sudoku-box"> 1</div>
                <div class="sudoku-box"> 2</div>
                <div class="sudoku-box"> 3</div>
                <div class="sudoku-box"> 4</div>
                <div class="sudoku-box"> 5</div>
                <div class="sudoku-box"> 6</div>
                <div class="sudoku-box"> 7</div>
                <div class="sudoku-box"> 8</div>
                <div class="sudoku-box"> 9</div>
                <div class="sudoku-box"> 1</div>
                <div class="sudoku-box"> 2</div>
                <div class="sudoku-box"> 3</div>
                <div class="sudoku-box"> 4</div>
                <div class="sudoku-box"> 5</div>
                <div class="sudoku-box"> 6</div>
                <div class="sudoku-box"> 7</div>
                <div class="sudoku-box"> 8</div>
                <div class="sudoku-box"> 9</div>
                <div class="sudoku-box"> 1</div>
                <div class="sudoku-box"> 2</div>
                <div class="sudoku-box"> 3</div>
                <div class="sudoku-box"> 4</div>
                <div class="sudoku-box"> 5</div>
                <div class="sudoku-box"> 6</div>
                <div class="sudoku-box"> 7</div>
                <div class="sudoku-box"> 8</div>
                <div class="sudoku-box"> 9</div>
                <div class="sudoku-box"> 1</div>
                <div class="sudoku-box"> 2</div>
                <div class="sudoku-box"> 3</div>
                <div class="sudoku-box"> 4</div>
                <div class="sudoku-box"> 5</div>
                <div class="sudoku-box"> 6</div>
                <div class="sudoku-box"> 7</div>
                <div class="sudoku-box"> 8</div>
                <div class="sudoku-box"> 9</div>
                <div class="sudoku-box"> 1</div>
                <div class="sudoku-box"> 2</div>
                <div class="sudoku-box"> 3</div>
                <div class="sudoku-box"> 4</div>
                <div class="sudoku-box"> 5</div>
                <div class="sudoku-box"> 6</div>
                <div class="sudoku-box"> 7</div>
                <div class="sudoku-box"> 8</div>
                <div class="sudoku-box"> 9</div>
                <div class="sudoku-box"> 1</div>
                <div class="sudoku-box"> 2</div>
                <div class="sudoku-box"> 3</div>
                <div class="sudoku-box"> 4</div>
                <div class="sudoku-box"> 5</div>
                <div class="sudoku-box"> 6</div>
                <div class="sudoku-box"> 7</div>
                <div class="sudoku-box"> 8</div>
                <div class="sudoku-box"> 9</div>
                <div class="sudoku-box"> 1</div>
                <div class="sudoku-box"> 2</div>
                <div class="sudoku-box"> 3</div>
                <div class="sudoku-box"> 4</div>
                <div class="sudoku-box"> 5</div>
                <div class="sudoku-box"> 6</div>
                <div class="sudoku-box"> 7</div>
                <div class="sudoku-box"> 8</div>
                <div class="sudoku-box"> 9</div>
                <div class="sudoku-box"> 1</div>
                <div class="sudoku-box"> 2</div>
                <div class="sudoku-box"> 3</div>
                <div class="sudoku-box"> 4</div>
                <div class="sudoku-box"> 5</div>
                <div class="sudoku-box"> 6</div>
                <div class="sudoku-box"> 7</div>
                <div class="sudoku-box"> 8</div>
                <div class="sudoku-box"> 9</div>
                <div class="sudoku-box"> 1</div>
                <div class="sudoku-box"> 2</div>
                <div class="sudoku-box"> 3</div>
                <div class="sudoku-box"> 4</div>
                <div class="sudoku-box"> 5</div>
                <div class="sudoku-box"> 6</div>
                <div class="sudoku-box"> 7</div>
                <div class="sudoku-box"> 8</div>
                <div class="sudoku-box"> 9</div>

            </div>
        </div>
        <div class = "sudoku-grid-footer">
            This is the grid footer
        </div>
    </div>
    <div class="footer">This is where the footer goes.</div>
</div>
</body>

</html>