<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sudoku Assembly</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
<div class="main-page">
    <div class="navigation-bar">This is where the navigation bar goes</div>
    <div class="sudoku-board">This is where the game's UI goes: (like easy medium and stuff)
        <div class="board-navigation-bar"> This is the board's navigation bar</div>
        <div class="board-game">
            <!-- <div class="sudoku-grid">
               

            </div> -->
            <table id ="actual-board">
                <tr>
                    <th id = "row-1"></th>
                    <th id = "row-2"></th>
                    <th id = "row-3"></th>
                    <th id = "row-4"></th>
                    <th id = "row-5"></th>
                    <th id = "row-6"></th>
                    <th id = "row-7"></th>
                    <th id = "row-8"></th>
                    <th id = "row-9"></th>
                </tr>
                <!-- Dummy table for testing -->
                <tr class = "making">
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                </tr>
                <tr class = "making">
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                </tr>
                <tr class = "making">
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                </tr>
                <tr class = "making">
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                </tr>
                <tr class = "making">
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                </tr>
                <tr class = "making">
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                </tr>
                <tr class = "making">
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                </tr>
                <tr class = "making">
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                </tr>
                <tr class = "making">
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                </tr>
            </table>
        
        </div>
        <div class = "sudoku-grid-footer">
            This is the grid footer
        </div>
    </div>
    <div class="footer">This is where the footer goes.</div>
</div>
</body>

</html>