<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sudoku Assembly</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
<div class="main-page">
    <div class="navigation-bar">This is where the navigation bar goes</div>
    <div class="sudoku-board">This is where the game's UI goes: (like easy medium and stuff)
        <div class="board-navigation-bar"> This is the board's navigation bar</div>
        <div class="board-game">This is where the game is going to go</div>
    </div>
    <div class="footer">This is where the footer goes.</div>
</div>
</body>

</html>