body{
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-page{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
.navigation-bar{
    background-color:black;
    display:flex;
    color: white;
    padding: 7px;
    height: 3vh;
}

.sudoku-board{
    display:flex;
    flex:1;
    flex-direction: column;
    height:auto;
    min-height: 90vh;
}

.board-navigation-bar{
    height: 15vh;
    border: solid black;
}
/* .board-game{
    border: solid red;
    flex:1;
    margin: 10px auto;
} */
.board-game{
    flex: 1;
    display:flex;
    justify-content: center;
    text-align: center; 
}
.board-game{
    padding: 10px;
}


#actual-board{
    height: 70vh;

    width: 70vh;
    
    /* border: solid red; */
    
}

table{
    border-collapse: collapse;
}

td:nth-child(3),
td:nth-child(6){
   /* border: solid black */
   border-right: solid black 3px;
}
tr:nth-child(4),
tr:nth-child(7){
    border-bottom: solid black 3px;
}

 table tr td{
    border: 1px solid black;
 
 }


td{
    padding: 0;
}

/* 
td{
    
    /* width:11.1%;
    height: 8.3vh; */
/* } */

/* .sudoku-grid{
    display:flex;
    flex-wrap: wrap;
    width: 50vw;

}

.sudoku-box{
    width: 11.1%;
} */ 


.footer{
    display:flex;
    background-color: black;
    color: white;
    padding:7px;
    height:3vh;
}