<!DOCTYPE html>
<!-- <html>
    <head>
        <title>Testing Page</title>
        <link rel = "stylesheet" href = "testing.css">
        <script src = "mycustom.js"></script>
    </head>
    <div class = "parent">
        this is the parent class
        <div class ="child">
            this is the chlid class
        </div>
    </div>
    <div id="demo" align="center"  data-value="1">

</html> -->

<html lang="en">

<head>
    <title>getElementById example</title>
</head>

<body>
    <!-- <p id="para">Some text here</p>
    <button onclick="changeColor('blue');">blue</button>
    <button onclick="changeColor('red');">red</button>

    <span id = "new-span">
        this is the content inside the new span
    </span>
    <p></p>
    <input id ="question" >
    <form name='myForm'>
        <input type='text' name='name' value=''>
    </form>
    
    <input type="text" name="myInput" id="myInput" placeholder="Your text"> -->
    <!-- <input id="cta" type="email" placeholder="Enter Email...">
    <button onclick="return joinMailingList()">Join</button>
    
    <script>
        const joinMailingList = () => {
            const email = document.querySelector('#cta').value
            console.log(email)
        } -->

    <input placeholder="Enter some text" name="name" />
    <p id="values"></p>
    <!-- <script>
        const input = document.querySelector('input');
        const log = document.getElementById('values');

        input.addEventListener('input', updateValue);

        function updateValue(e) {
            // log.textContent = e.target.value;
            console.log(e.target.value)

        }
    </script> -->

    </script>
    </input>
</body>
<script src="mycustom.js"></script>

</html>